<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:replace="common/header"></th:block>
<body>

<th:block layout:replace="common/toolbar"></th:block>

<div class="container-fluid">
  <div class="row">

    <th:block layout:replace="common/sidebar"></th:block>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" >채팅방 등록</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
      </div>
      <div> <!-- 채팅 게시판 -->
        <div class="row mb-3 justify-content-center">
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">기본 정보</h4>
            <form class="needs-validation" novalidate="">

              <div class="mb-3">
                <label for="chatRoomTitle">채팅방 제목 </label>
                <input type="text" class="form-control" id="chatRoomTitle" placeholder="제목을 입력해주세요.(최대 20자)" maxlength="20">
              </div>

              <div class="mb-3">
                <label for="chatRoomIntroduce">채팅방 소개 <span class="text-muted">(Optional)</span></label>
                <textarea class="form-control" id="chatRoomIntroduce" placeholder="채팅방 소개문구를 입력해주세요.(최대 200자)" maxlength="200"></textarea>
              </div>

              <hr class="mb-4">

              <h4 class="mb-3">공개 여부</h4>

              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" value="1" type="radio" class="custom-control-input" checked="" required="">
                  <label class="custom-control-label" for="credit">공개</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" value="0" type="radio" class="custom-control-input" required="">
                  <label class="custom-control-label" for="debit">비공개</label>
                </div>
              </div>
              <div class="row d-none-notImp" id="chatRoomStatus">
                <div class="col-md-6 mb-3">
                  <label for="chatRoomPw">비밀번호</label>
                  <input type="password" class="form-control" id="chatRoomPw" placeholder="비밀번호를 입력해주세요.(최대8자)" required="" maxlength="8">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="chatRoomPwTest">비밀번호 확인</label>
                  <input type="password" class="form-control" id="chatRoomPwTest" placeholder="비밀번호를 입력해주세요.(최대8자)" required="" maxlength="8">
                </div>
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="button" id="chatRoomRegisterBtn">채팅방 등록</button>
            </form>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>
</body>
<script src="/js/chat/chatRegister.js"></script>
<script src="/js/common/common.js"></script>

</html>