<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chatProject.chat.chat.mapper.ChatMapper">
    <select id="selectChatRoom"
            resultType="com.chatProject.chat.chat.dto.ChatDto$chatRoomResult"
            parameterType="com.chatProject.chat.chat.dto.ChatDto$chatRoomReq">
        /* 채팅방 리스트 조회 */

    </select>
</mapper>