<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chatProject.chat.chat.mapper.ChatMapper">
    <select id="selectChatRoom"
            resultType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomResult"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomReq">
        /* 채팅방 리스트 조회 */
        SELECT
            	AA.CHAT_ROOM_IDX
	             ,AA.CHAT_ROOM_TITLE
	             ,AA.CHAT_ROOM_INTRODUCE
	             ,AA.CHAT_ROOM_REGDATE
	             ,AA.CHAT_ROOM_STATUS
	             ,(SELECT COUNT(USER_IDX) FROM R_CHAT_ROOM_USER_MAPPING_T WHERE AA.CHAT_ROOM_IDX = CHAT_ROOM_IDX) CHAT_USER_COUNT
	             ,BB.USER_ID
	             ,BB.NICK_NAME
	             ,CASE
		             WHEN CC.USER_IDX IS NOT NULL THEN 1
		             ELSE 0
		          END IS_USER_IN
            FROM (
				SELECT
                     A.CHAT_ROOM_IDX
                      ,A.CHAT_ROOM_TITLE
                      ,A.CHAT_ROOM_INTRODUCE
                      ,DATE_FORMAT(A.CHAT_ROOM_REGDATE, '%Y-%m-%d %H:%i') AS CHAT_ROOM_REGDATE
                      ,CASE
                           WHEN A.CHAT_ROOM_STATUS = 1 THEN '공개'
                           ELSE '비공개'
                     END CHAT_ROOM_STATUS
                 FROM
                     R_CHAT_ROOM_T AS A
                 )AA
                 LEFT JOIN (SELECT CHAT_ROOM_IDX, USER_ID, NICK_NAME FROM R_CHAT_ROOM_USER_MAPPING_T A, R_USER_T B WHERE A.USER_IDX = B.USER_IDX AND A.USER_STATUS = 1) BB
                 ON AA.CHAT_ROOM_IDX = BB.CHAT_ROOM_IDX
                 LEFT JOIN (SELECT CHAT_ROOM_IDX, USER_IDX FROM R_CHAT_ROOM_USER_MAPPING_T WHERE USER_IDX = #{userIdx}) CC
                 ON AA.CHAT_ROOM_IDX = CC.CHAT_ROOM_IDX
            WHERE 1=1
            <choose>
                <when test="searchType == 1"> /* 제목 */
                    AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%'))
                </when>
                <when test="searchType == 2"> /* 방장 */
                    AND (NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
                </when>
                <otherwise>                   /* 제목/방장 */
                    AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%')
                    OR NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
                </otherwise>
            </choose>
            ORDER BY AA.CHAT_ROOM_REGDATE DESC
            LIMIT #{start}, #{length}
    </select>
    <select id="selectChatRoomTotal"
            resultType="Integer"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomReq">
        /* 채팅방 리스트 총 건수 조회 */
        SELECT
            COUNT(*)
        FROM (
                 SELECT
                     A.CHAT_ROOM_IDX
                      ,A.CHAT_ROOM_TITLE
                      ,A.CHAT_ROOM_INTRODUCE
                      ,DATE_FORMAT(A.CHAT_ROOM_REGDATE, '%Y-%m-%i %H:%i') AS CHAT_ROOM_REGDATE
                      ,CASE
                           WHEN A.CHAT_ROOM_STATUS = 1 THEN '공개'
                           ELSE '비공개'
                     END CHAT_ROOM_STATUS
                      ,(SELECT COUNT(*) FROM R_CHAT_ROOM_USER_MAPPING_T WHERE CHAT_ROOM_IDX = A.CHAT_ROOM_IDX ) AS CHAT_USER_COUNT
                      ,B.USER_STATUS
                      ,B.USER_IDX
                 FROM
                     R_CHAT_ROOM_T AS A
                         INNER JOIN R_CHAT_ROOM_USER_MAPPING_T AS B
                                    ON A.CHAT_ROOM_IDX = B.CHAT_ROOM_IDX
             )AA
                 INNER JOIN (
            SELECT
                USER_IDX
                 ,USER_ID
                 ,NICK_NAME
            FROM
                R_USER_T
        )BB ON BB.USER_IDX = AA.USER_IDX
            AND AA.USER_STATUS = 1 /* 방장 */
        WHERE 1=1
        <choose>
            <when test="searchType == 1">
                AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%'))
            </when>
            <when test="searchType == 2">
                AND (NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
            </when>
            <otherwise>
                AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%')
                OR NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
            </otherwise>
        </choose>
    </select>
    <insert id="insertChatRoom"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomRegisterReq"
            useGeneratedKeys="true" keyColumn="chatRoomIdx" keyProperty="chatRoomIdx">
        /* 채팅방 등록 */
        INSERT INTO
            R_CHAT_ROOM_T
            (
                CHAT_ROOM_TITLE
                ,CHAT_ROOM_INTRODUCE
                ,CHAT_ROOM_REGDATE
                ,CHAT_ROOM_STATUS
                <if test="chatRoomStatus == 0">
                ,CHAT_ROOM_PW
                ,SALT
                </if>
            )VALUES
            (
                #{chatRoomTitle}
                ,#{chatRoomIntroduce}
                ,DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
                ,#{chatRoomStatus}
                <if test="chatRoomStatus == 0">
                    ,#{hex}
                    ,#{salt}
                </if>
            )
    </insert>
    <insert id="insertChatRoomMapping">
        /* 채팅방 사용자 등록 (최초) */
        INSERT INTO
            R_CHAT_ROOM_USER_MAPPING_T
            (
                CHAT_ROOM_IDX
                ,USER_IDX
                ,USER_STATUS
            )VALUES
            (
                #{chatRoomIdx}
                ,#{userIdx}
                ,1
            )
    </insert>
    <select id="chatRoomCheck"
            resultType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomPwCheck"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomPwCheckReq">
        /* 채팅방 확인 */
        SELECT
            CHAT_ROOM_IDX
             ,CASE
                  WHEN CHAT_ROOM_STATUS = 0 THEN '비공개'
                  ELSE '공개'
            END CHAT_ROOM_STATUS
             ,CHAT_ROOM_PW
             ,salt
        FROM
            R_CHAT_ROOM_T
        WHERE 1=1
          AND CHAT_ROOM_IDX = #{chatRoomIdx}
    </select>
    <select id="isUserInCheckRoom"
            resultType="Integer"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomPwCheckReq">
        /* 채팅방 사용자 확인 */
        SELECT
            COUNT(*)
        FROM
            R_CHAT_ROOM_USER_MAPPING_T
        WHERE 1=1
          AND CHAT_ROOM_IDX = #{chatRoomIdx}
          AND USER_IDX = #{userIdx}
    </select>
    <insert id="insertChatUserMapping"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomPwCheckReq">
        /* 채팅방 사용자 추가 */
        INSERT INTO
            R_CHAT_ROOM_USER_MAPPING_T
        (
            CHAT_ROOM_IDX
        ,USER_IDX
        ,USER_STATUS
        )VALUES
            (
                #{chatRoomIdx}
            ,#{userIdx}
            ,0
            )
    </insert>
    <select id="selectChatRoomPageDetail"
            resultType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomPageRes"
            parameterType="Long">
        /* 채팅방 상세정보 */
        SELECT
            CHAT_ROOM_IDX
             ,CHAT_ROOM_TITLE
             ,CHAT_ROOM_INTRODUCE
             ,CHAT_ROOM_REGDATE
             ,CHAT_ROOM_STATUS
        FROM
            R_CHAT_ROOM_T
        WHERE
            CHAT_ROOM_IDX = #{id};
    </select>
    <select id="selectChatRoomUserList"
            resultType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomUser"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomPwCheckReq">
        /* 채팅방 사용자 리스트 조회 */
        SELECT
            A.USER_IDX
             ,A.USER_STATUS
             ,B.USER_ID
             ,B.NICK_NAME
        FROM
            R_CHAT_ROOM_USER_MAPPING_T A
                LEFT JOIN R_USER_T B
                          ON A.USER_IDX = B.USER_IDX
        WHERE 1=1
          AND CHAT_ROOM_IDX = #{chatRoomIdx}
        ORDER BY A.USER_STATUS DESC, B.NICK_NAME ASC
    </select>
    <select id="selectChatMassageList"
            resultType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomMessage"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomPwCheckReq">
        /* 채팅방  */
        SELECT
            A.USER_IDX
             ,B.USER_ID
             ,B.NICK_NAME
             ,(SELECT USER_STATUS FROM R_CHAT_ROOM_USER_MAPPING_T WHERE CHAT_ROOM_IDX = #{chatRoomIdx} AND USER_IDX = A.USER_IDX) USER_STATUS
             ,DATE_FORMAT(A.CHAT_REGDATE, '%Y-%m-%d %H:%i:%s') AS CHAT_REGDATE
             ,A.CONTENT AS MESSAGE
        FROM
            P_CHAT_CONTENT_T A
                LEFT JOIN R_USER_T B
                          ON A.USER_IDX = B.USER_IDX
        WHERE 1=1
          AND CHAT_ROOM_IDX = #{chatRoomIdx}
        ORDER BY A.CHAT_REGDATE DESC
        LIMIT 100
    </select>
</mapper>