<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chatProject.chat.chat.mapper.ChatMapper">
    <select id="selectChatRoom"
            resultType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomResult"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomReq">
        /* 채팅방 리스트 조회 */
        SELECT
             AA.CHAT_ROOM_IDX
             ,AA.CHAT_ROOM_TITLE
             ,AA.CHAT_ROOM_INTRODUCE
             ,AA.CHAT_ROOM_REGDATE
             ,AA.CHAT_ROOM_STATUS
             ,AA.CHAT_USER_COUNT
             ,BB.USER_ID
             ,BB.NICK_NAME
             ,AA.IS_USER_IN             /*현재접속 사용자의 채팅방참가여부 1=참가, 0=미참가*/
        FROM (
                 SELECT
                     A.CHAT_ROOM_IDX
                      ,A.CHAT_ROOM_TITLE
                      ,A.CHAT_ROOM_INTRODUCE
                      ,DATE_FORMAT(A.CHAT_ROOM_REGDATE, '%Y-%m-%d %H:%i') AS CHAT_ROOM_REGDATE
                      ,CASE
                           WHEN A.CHAT_ROOM_STATUS = 1 THEN '공개'
                           ELSE '비공개'
                     END CHAT_ROOM_STATUS
                      ,(SELECT COUNT(*) FROM R_CHAT_ROOM_USER_MAPPING_T WHERE CHAT_ROOM_IDX = A.CHAT_ROOM_IDX ) AS CHAT_USER_COUNT
                      ,B.USER_STATUS
                      ,B.USER_IDX
                    ,CASE
                    WHEN B.USER_IDX = #{userIdx} THEN 1
                    ELSE 0
                    END IS_USER_IN
                 FROM
                     R_CHAT_ROOM_T AS A
                         INNER JOIN R_CHAT_ROOM_USER_MAPPING_T AS B
                                    ON A.CHAT_ROOM_IDX = B.CHAT_ROOM_IDX
             )AA
                 INNER JOIN (
            SELECT
                USER_IDX
                 ,USER_ID
                 ,NICK_NAME
            FROM
                R_USER_T
        )BB ON BB.USER_IDX = AA.USER_IDX
            AND AA.USER_STATUS = 1 /* 방장 */
            WHERE 1=1
            <choose>
                <when test="searchType == 1"> /* 제목 */
                    AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%'))
                </when>
                <when test="searchType == 2"> /* 방장 */
                    AND (NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
                </when>
                <otherwise>                   /* 제목/방장 */
                    AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%')
                    OR NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
                </otherwise>
            </choose>
            ORDER BY AA.CHAT_ROOM_REGDATE DESC
            LIMIT #{start}, #{length}
    </select>
    <select id="selectChatRoomTotal"
            resultType="Integer"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomReq">
        /* 채팅방 리스트 총 건수 조회 */
        SELECT
            COUNT(*)
        FROM (
                 SELECT
                     A.CHAT_ROOM_IDX
                      ,A.CHAT_ROOM_TITLE
                      ,A.CHAT_ROOM_INTRODUCE
                      ,DATE_FORMAT(A.CHAT_ROOM_REGDATE, '%Y-%m-%i %H:%i') AS CHAT_ROOM_REGDATE
                      ,CASE
                           WHEN A.CHAT_ROOM_STATUS = 1 THEN '공개'
                           ELSE '비공개'
                     END CHAT_ROOM_STATUS
                      ,(SELECT COUNT(*) FROM R_CHAT_ROOM_USER_MAPPING_T WHERE CHAT_ROOM_IDX = A.CHAT_ROOM_IDX ) AS CHAT_USER_COUNT
                      ,B.USER_STATUS
                      ,B.USER_IDX
                 FROM
                     R_CHAT_ROOM_T AS A
                         INNER JOIN R_CHAT_ROOM_USER_MAPPING_T AS B
                                    ON A.CHAT_ROOM_IDX = B.CHAT_ROOM_IDX
             )AA
                 INNER JOIN (
            SELECT
                USER_IDX
                 ,USER_ID
                 ,NICK_NAME
            FROM
                R_USER_T
        )BB ON BB.USER_IDX = AA.USER_IDX
            AND AA.USER_STATUS = 1 /* 방장 */
        WHERE 1=1
        <choose>
            <when test="searchType == 1">
                AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%'))
            </when>
            <when test="searchType == 2">
                AND (NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
            </when>
            <otherwise>
                AND (CHAT_ROOM_TITLE LIKE CONCAT('%',#{searchText},'%')
                OR NICK_NAME LIKE CONCAT('%',#{searchText},'%'))
            </otherwise>
        </choose>
    </select>
    <insert id="insertChatRoom"
            parameterType="com.chatProject.chat.chat.dto.ChatRoomDto$chatRoomRegisterReq"
            useGeneratedKeys="true" keyColumn="chatRoomIdx" keyProperty="chatRoomIdx">
        /* 채팅방 등록 */
        INSERT INTO
            R_CHAT_ROOM_T
            (
                CHAT_ROOM_TITLE
                ,CHAT_ROOM_INTRODUCE
                ,CHAT_ROOM_REGDATE
                ,CHAT_ROOM_STATUS
                <if test="chatRoomStatus == 0">
                ,CHAT_ROOM_PW
                ,SALT
                </if>
            )VALUES
            (
                #{chatRoomTitle}
                ,#{chatRoomIntroduce}
                ,DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
                ,#{chatRoomStatus}
                <if test="chatRoomStatus == 0">
                    ,#{hex}
                    ,#{salt}
                </if>
            )
    </insert>
    <insert id="insertChatRoomMapping">
        /* 채팅방 사용자 등록 (최초) */
        INSERT INTO
            R_CHAT_ROOM_USER_MAPPING_T
            (
                CHAT_ROOM_IDX
                ,USER_IDX
                ,USER_STATUS
            )VALUES
            (
                #{chatRoomIdx}
                ,#{userIdx}
                ,1
            )
    </insert>
</mapper>