<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chatProject.chat.user.mapper.UserMapper">
    <select id="userCheck"
            resultType="String"
            parameterType="com.chatProject.chat.user.dto.UserDto$userLoginReq">
        /* 사용자 SALT 조회 */
        SELECT
            SALT
        FROM
            R_USER_T
        WHERE 1=1
          AND USER_ID = #{userId}
    </select>
    <select id="userIdCheck"
            resultType="Integer"
            parameterType="String">
        /* 사용자 ID 조회 */
        SELECT
            COUNT(*)
        FROM
            R_USER_T
        WHERE 1=1
          AND USER_ID = #{userId}
    </select>
    <insert id="userRegister"
            parameterType="com.chatProject.chat.user.dto.UserDto$userRegisterReq">
        /* 사용자 등록 */
        INSERT
        INTO
            R_USER_T
        (
            USER_ID
            ,USER_PW
            ,NICK_NAME
            ,SALT
        )VALUES
            (
            #{userId}
            ,#{hex}
            ,#{nickName}
            ,#{salt}
            )
    </insert>
</mapper>