<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chatProject.chat.user.mapper.UserMapper">
    <select id="userCheck"
            resultType="com.chatProject.chat.user.dto.UserDto$userLoginCheck"
            parameterType="com.chatProject.chat.user.dto.UserDto$userLoginReq">
        /* 사용자 로그인 필요정보 조회 */
        SELECT
            SALT
            ,USER_PW
            ,USER_IDX
        FROM
            R_USER_T
        WHERE 1=1
          AND USER_ID = #{userId}
        LIMIT 1
    </select>
    <select id="userIdCheck"
            resultType="Integer"
            parameterType="String">
        /* 사용자 ID 조회 */
        SELECT
            COUNT(*)
        FROM
            R_USER_T
        WHERE 1=1
          AND USER_ID = #{userId}
    </select>
    <insert id="userRegister"
            parameterType="com.chatProject.chat.user.dto.UserDto$userRegisterReq">
        /* 사용자 등록 */
        INSERT
        INTO
            R_USER_T
        (
            USER_ID
            ,USER_PW
            ,NICK_NAME
            ,SALT
        )VALUES
            (
            #{userId}
            ,#{hex}
            ,#{nickName}
            ,#{salt}
            )
    </insert>
    <select id="findUserByUserIdx"
            resultType="com.chatProject.chat.user.dto.UserDto$userInfo"
            parameterType="Long">
        /* 사용자 정보 조회 */
        SELECT
            USER_IDX
            ,USER_ID
            ,NICK_NAME
        FROM
            R_USER_T
        WHERE 1=1
            AND USER_IDX = #{id}
    </select>
</mapper>