<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>

<form class="form-signin">
    <div class="text-center mb-4">
<!--        <img class="mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <div class="mb-4 w-100 loginLogo">
            <div style="width: 72px;height: 72px">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
            </div>
        </div>
        <h1 class="h3 mb-3 font-weight-normal">채팅 프로그램</h1>

    </div>

    <div class="form-label-group">
        <input type="text" id="inputId" class="form-control" placeholder="ID를 입력해주세요" required="" autofocus="">
        <label for="inputId"></label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="PW를 입력해주세요" required="">
        <label for="inputPassword"></label>
    </div>

    <div class="checkbox loginSettings mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <label>
            <button type="button" class="btn btn-secondary" value="joinMember">회원가입</button>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
    <p class="mt-5 mb-3 text-muted text-center">© 2023-2023</p>
</form>

</body>
<style>
    .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
    }
    .loginLogo {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .loginSettings {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
</html>